{% extends "base.html" %}
{% block body %}
        <div class="search-dropdown desktop">
            <div id=search-dropdown-desktop></div>
        </div>
        <div class="search-dropdown mobile">
            <div id=search-dropdown-mobile></div>
        </div>
        <main class=main>
            <div class=container>
                <div class="page single special">
                    <h1 class="single-title animated pulse faster">About Me</h1>
                    <div class=content id=content>
                        <p>I am Data Scientist at Dslab @ <em><a href=https://www.cars24.com/ target=_blank
                                    rel="noopener noreffer">cars24</a></em>. previously, I worked at <em><a
                                    href=https://www.brillio.com/ target=_blank rel="noopener noreffer">Brillio
                                    Technologies</a></em>.</p>
                        <h3 id=what-i-am-doing-as-data-scientist>What I am doing as Data scientist?</h3>
                        <p>My role at Cars24 involves building end to end pricing strategies and models for the product
                            portfolio. While working here, I have developed a deep understanding of pricing dynamics for
                            unlabelled products. My work has involved conducting market research, analyzing competitors’
                            strategies, identifying pricing opportunities that align with the company’s overall business
                            objective and delivering end to end AI solutions for the same.</p>
                        <p>Apart from this, I also developed the base depreciation model to determine the average
                            depreciation for each fingerprint(make, model) which also varies based on the state where
                            vehicle was being used.</p>
                        <h3 id=do-i-always-work>Do I always Work?</h3>
                        <p>Wouldn&rsquo;t that be so boring and monotonous?</p>
                        <p>Aside from work, I spend my leisure in playing chess, badminton or football. I am always
                            accompanied by <a href rel>Ryuk</a> who is always in the mood to play. Most of my free time
                            is reserved for him :)</p>
                        <p>Currently I am reading a book <em><a
                                    href=https://www.amazon.in/Judgment-under-Uncertainty-Heuristics-Biases/dp/0521284147
                                    target=_blank rel="noopener noreffer">Judgement under uncertainty: heuristics and
                                    biases</a></em> by <em><a href=https://en.wikipedia.org/wiki/Daniel_Kahneman
                                    target=_blank rel="noopener noreffer">Daniel Kahneman</a></em> & <em><a
                                    href=https://en.wikipedia.org/wiki/Amos_Tversky target=_blank
                                    rel="noopener noreffer">Amos Tversky</a></em> which reviews the studies and
                            experiments done for the <em><a
                                    href=https://www2.psych.ubc.ca/~schaller/Psyc590Readings/TverskyKahneman1974.pdf
                                    target=_blank rel="noopener noreffer">paper</a></em> and persons of same name. The
                            paper explores how people make judgments and decisions under conditions of uncertainty. It
                            presents various cognitive biases and heuristics that people use when making judgments, such
                            as the availability heuristic, representativeness heuristic, and anchoring effect. The paper
                            highlights how these biases and heuristics can lead to errors and irrational
                            decision-making. Finally, it emphasizes the importance of understanding these biases and
                            heuristics in order to improve decision-making processes in various fields. Amos Tversky and
                            Daniel Kahneman were two psychologists who conducted groundbreaking research in the field of
                            cognitive psychology. Their collaboration resulted in the development of several influential
                            theories and concepts that continue to shape the way we understand human decision-making
                            today. Tversky was a professor of psychology at Stanford University, while Kahneman was a
                            professor of psychology and public affairs at Princeton University.Tversky was a professor
                            of psychology at Stanford University, while Kahneman was a professor of psychology and
                            public affairs at Princeton University. In 2002, Kahneman was awarded the Nobel Memorial
                            Prize in Economic Sciences for his work in the field of behavioral economics. However,
                            Tversky passed away in 1996 and was therefore not eligible for the Nobel Prize.
                            Be Sure to check out its summary in next month in blog section!</p>
                            <div class="Message">
                                <input title="Write Message" tabindex="i" pattern="\d+" placeholder="Message.." class="MsgInput" type="text">
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="30.000000pt" height="30.000000pt" viewBox="0 0 30.000000 30.000000" preserveAspectRatio="xMidYMid meet" class="SendSVG">
                                <g transform="translate(0.000000,30.000000) scale(0.100000,-0.100000)" fill="#ffffff70" stroke="none">
                                <path d="M44 256 c-3 -8 -4 -29 -2 -48 3 -31 5 -33 56 -42 28 -5 52 -13 52 -16 0 -3 -24 -11 -52 -16 -52 -9 -53 -9 -56 -48 -2 -21 1 -43 6 -48 10 -10 232 97 232 112 0 7 -211 120 -224 120 -4 0 -9 -6 -12 -14z"></path>
                                </g>
                              </svg><span class="l"></span>
                            </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div id=fixed-buttons><a href=# id=back-to-top class=fixed-button title="Back to Top"><i
                class="fas fa-arrow-up fa-fw"></i>
        </a><a href=# id=view-comments class=fixed-button title="View Comments"><i class="fas fa-comment fa-fw"></i></a>
    </div>
{%endblock %}
</body>

</html>