{% extends "base.html" %}
{% block body %}
      <div class="search-dropdown desktop">
            <div id=search-dropdown-desktop></div>
        </div>
        <div class="search-dropdown mobile">
            <div id=search-dropdown-mobile></div>
        </div>
        <main class=main>

        </main>
    </div>
    <div id=fixed-buttons><a href=# id=back-to-top class=fixed-button title="Back to Top"><i
                class="fas fa-arrow-up fa-fw"></i>
        </a><a href=# id=view-comments class=fixed-button title="View Comments"><i class="fas fa-comment fa-fw"></i></a>
    </div>
{%endblock %}